#!/bin/sh

export FORTIFLEX_PROGRAM_SN=ELAVMS000000XXXX
export FORTIFLEX_API_USER=XXXXXXXX-YYYY-XXXX-YYYY-XXXXXXXXXXXX
export FORTIFLEX_API_PASSWORD="XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"

/usr/bin/python3 ./list_entitlements_per_configuration_new.py --id YYYY

